.pages
  label
    input#swihch(type="checkbox")
    .top
      .logo
    .green save
    .amount
      .month
    .budget
      i.fa.fa-apple
      | GBP burget
      h2 +
    .today
      .box
        span.top Today
        span.top1 -£8.3
      .box
        span Transport for London
        span -£1.5
      .box
        span Korean Restaurant
        span -£30
      .box
        span Giffgaff
        span -£20
    .spent
      .detail
        .contain
          i.fa.fa-money
          | Cash
        h4 £244
      .detail
        .contain
          i.fa.fa-car
          | Transport
        h4 £156
      .detail
        .contain
          i.fa.fa-phone
          | Ｎewsletter
        h4 £110
      .detail
        .contain
          i.fas.fa-utensils
          | Restaurant
        h4 £90

    .bottom_line